body {
    font-family: Arial;
    font-size: 15px;
    line-height: 1.5;
    max-width: 1441px;
    margin: auto;
}

/* Global */
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

h1 {
    font-size: 30px;
}

article {
    margin: 50px 0;
}

/*---------------------------------------------------------*/
/*------------------------- HEADER ------------------------*/
/*---------------------------------------------------------*/
header {
    padding-top: 30px;
    margin-bottom: 30px;
}

header div.logo img {
    width: 70px;
    height: 50px;
}

header a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header ul.nav {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    margin-top: 10px;
}

header .highlight, header a:hover {
    color: #5795ce;
}

header .highlight, header a:active {
    color: #5795ce;
    font-weight: bold;
}

div.menu-toggle {
    display: none;
}

/*----------------------------------------------------------------*/
/*------------------------- First Article ------------------------*/
/*----------------------------------------------------------------*/
article#apropos .container .apropos {
    display: flex;
    align-items: center;
    width: 100%;
}

article#apropos .apropos_text {
    text-align: center;
    margin: 0 20px;
    width: 50%;
}

article#apropos .container .image {
    color: #000;
    width: 50%;
}

article#apropos .apropos_text p {
    margin-left: 0;
    margin-right: 0;
}

article#apropos .container .image img{
    width: 100%;
}

/*-----------------------------------------------------------------*/
/*------------------------- Second Article ------------------------*/
/*-----------------------------------------------------------------*/
article#contact {
    background: linear-gradient(180deg, #e53b51 160px, #478ac9 160px);
}

section.informations .container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex: 100%;
}

section.card {
    padding: 0 8px 40px 8px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

div.img {
    text-align: center;
    color: #478ac9;
    margin-top: 15%;
}

h3.title {
    text-transform: uppercase;
    /*font-size: 17px;*/
    font-weight: bold;
    margin: 15px;
}

h4 {
    margin: 0;
}

section.getintouch {
    padding-top: 30px;
    color: #fff;
}

section.getintouch .container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

section.text, section.form-box {
    margin: 0 4.5%;
    flex: 40%;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

h1.bold {
    margin-top: 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    padding: 8px 0 0 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid;
}

.textbox input, .textbox textarea {
    border: none;
    outline: none;
    background: none;
    padding: 0 10px;
    color: #fff;
    font-family: Arial;
}

.textbox input::placeholder, .textbox textarea::placeholder {
    color: #a0c3e3;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid #fff;
    color: #000;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 30%;
    border-radius: 5px;
}

ul.icons {
    margin: 0;
    padding: 0;
}

ul.icons li {
    display: inline;
    padding: 0 10px 0 10px;
}

ul.icons li a i {
    color: #fff;
}

/*----------------------------------------------------------------*/
/*------------------------- Third Article ------------------------*/
/*----------------------------------------------------------------*/
article.approach {
    background-image: url("../images/mountains.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -50px;
    margin-bottom: 0;
    opacity: 0.9;
}

article.approach .container {
    height: 600px;
}

.logo-nextboxx {
    position: relative;
    float: right;
    bottom: -40%;
}

.logo-nextboxx img {
    width: 600px;
}

article.approach h2 {
    color : #f1c50f;
}

article.approach ul.list {
    color: white;
    list-style-type: circle;
    margin-top: -20px;
    padding-left: 20px;
}

article.approach ul.list li p {
    margin: 0;
}

/*---------------------------------------------------------*/
/*------------------------- Footer ------------------------*/
/*---------------------------------------------------------*/
footer {
    color: #fff;
    background-color: #090b0b ;
    text-align: center;
}

div.rights {
    margin-top: 40px;
    margin-bottom: 50px;
}

div.rights {
    margin-top: 40px;
    margin-bottom: 150px;
}

div.template {
    margin-top: 150px;
    margin-bottom: 40px;
}

div.template a {
    color: #90a8be;
}

/*----------------------------------------------------------------*/
/*-------------- Medium devices (768px - 992px) ------------------*/
/*----------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    /*------------------------- HEADER ------------------------*/
    div.menu-toggle {
        display: block;
        color: #000;   
        right: 0;   
    }

    ul.nav {
        display: none;
    }

    /*---------------------- First Article ---------------------*/
    article#apropos .container .apropos {
        justify-content: space-between;
    }

    /*--------------------- Second Article --------------------*/
    section.informations .container {
        flex-wrap: wrap;
        align-content: center;
    }
    
    section.card {
        flex: 37%;
        margin: 2%;
        padding: 0 8px 40px 8px;
    }

    /*--------------------- Third Article --------------------*/
    .logo-nextboxx img {
        width: 400px;
    }
}

/*----------------------------------------------------------------*/
/*-------------- Small devices (768px and down) ------------------*/
/*----------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    /*------------------------- HEADER ------------------------*/
    div.menu-toggle {
        display: block;
        color: #000; 
    }

    ul.nav {
        display: none;
    }

    /*---------------------- First Article ---------------------*/
    article#apropos .container .apropos {
        flex-direction: column;
        justify-content: space-between;
    }

    article#apropos .apropos_text {
        width: 100%;
    }

    article#apropos .container .image {
        width: 100%;
    }

    /*--------------------- Second Article --------------------*/
    section.informations .container {
        flex-direction: column;
        align-content: center;
    }

    section.card {
        width: 90%;
        padding: 0 8px 40px 8px;
        margin-bottom: 20px;
        margin: 2% auto;
    }

    section.text {
        margin-bottom: 50px;
    }

    section.text, section.form-box {
        flex: 90%;
    }

    /*--------------------- Third Article --------------------*/
    .logo-nextboxx img {
        width: 200px;
    }
}
