body {
    font-family: Arial;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

/* Global */
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

h1 {
    font-size: 30px;
}

section {
    margin: 50px 0;
}

/* Header */
header {
    padding-top: 30px;
    margin-bottom: 30px;
}

header a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header ul.nav {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    margin-top: 10px;
}

header .highlight, header a:hover {
    color: #5795ce;
}

header .highlight, header a:active {
    color: #5795ce;
    font-weight: bold;
}

/*----------------------------------------------------------------*/
/*------------------------- First Section ------------------------*/
/*----------------------------------------------------------------*/
section#apropos .container .apropos {
    display: flex;
    align-items: center;
    width: 100%;
}

section#apropos .apropos_text {
    text-align: center;
    margin: 0 20px;
}

section#apropos .container .image {
    color: #000;
}

/* Medium devices and large devices (768px and up) */
@media only screen and (min-width: 768px) {
    section#apropos .container .apropos {
        justify-content: space-between;
    }
    
    section#apropos .apropos_text {
        width: 50%;
    }

    section#apropos .container .image {
        width: 50%;
    }
}

/* Small devices (768px and down) */
@media only screen and (max-width: 768px) {
    section#apropos .container .apropos {
        flex-direction: column;
        justify-content: space-between;
    }

    section#apropos .apropos_text {
        width: 100%;
    }

    section#apropos .container .image {
        width: 100%;
    }
}

section#apropos .apropos_text p {
    margin-left: 0;
    margin-right: 0;
}

section#apropos .container .image img{
    width: 100%;
}

/*-----------------------------------------------------------------*/
/*------------------------- Second Section ------------------------*/
/*-----------------------------------------------------------------*/
section#contact .informations {
    position: relative;
    background-color: #dc545a;
    height: 160.5px;
}

section#contact .informations .container{
    position: relative;
    top: 35%;
    display: flex;
    justify-content: space-between;
}

div.card {
    top: 20%;
    padding: 0 15px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #fff;
}

div.img {
    text-align: center;
    color: #478ac9;
    margin-top: 15%;
}

div.title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    margin: 15px;
}

section#contact .getintouch {
    background-color: #478ac9;
    padding-top: 10%;
    color: #fff;
}

div.getintouch div.container {
    display: flex;
    align-content: space-between;
}

div.getintouch div.container div.text, div.getintouch div.container div.form-box {
    margin: 0 50px;
}

.form-box {
    width: 50%;
    overflow: hidden;
    margin: 0 80px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

h1.bold {
    margin-top: 0;
}

.text {
    width: 50%;
    overflow: hidden;
    margin: 0 80px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    padding: 8px 0 0 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid;
}

.textbox input, .textbox textarea {
    border: none;
    outline: none;
    background: none;
    padding: 0 10px;
    color: #fff;
    font-family: Arial;
}

.textbox input::placeholder, .textbox textarea::placeholder {
    color: #a0c3e3;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid #fff;
    color: #000;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 30%;
}

ul.icons {
    margin: 0;
    padding: 0;
}

ul.icons li {
    display: inline;
    padding: 0 10px 0 10px;
}

ul.icons li a i {
    color: #fff;
}

/*----------------------------------------------------------------*/
/*------------------------- Third Section ------------------------*/
/*----------------------------------------------------------------*/
.approach {
    background-image: url("mountains.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -50px;
    margin-bottom: 0;
    opacity: 0.9;
}

.approach .container {
    height: 600px;
}

.logo-nextboxx {
    position: relative;
    float: right;
    bottom: -40%;
}

.approach h2 {
    color : #f1c50f;
}

.approach ul.list {
    color: white;
    list-style-type: circle;
    margin-top: -20px;
    padding-left: 20px;
}

.approach ul.list li p {
    margin: 0;
}

/*---------------------------------------------------------*/
/*------------------------- Footer ------------------------*/
/*---------------------------------------------------------*/
footer {
    color: #fff;
    background-color: #333333;
    text-align: center;
}

footer div.rights {
    margin-top: 40px;
    margin-bottom: 50px;
}

footer div.rights {
    margin-top: 40px;
    margin-bottom: 150px;
}

footer div.template {
    margin-top: 150px;
    margin-bottom: 40px;
}

.template a {
    color: #90a8be;
}
