body {
    font-family: Arial;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    margin: 50px 0;
}

/* Header */
header {
    padding-top: 30px;
    margin-bottom: 30px;
}

header a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header ul.nav {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

/* First Section */
section#apropos .container .apropos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

section#apropos .apropos_text {
    text-align: center;
    margin: 0 20px;
    width: 50%;
}

section#apropos .container .image {
    color: #000;
    width: 50%;
}

section#apropos .container .image img{
    width: 100%;
}

/* Second Section */
section#contact .informations {
    position: relative;
    background-color: #f04b4b;
    height: 160.5px;
}

section#contact .informations .container{
    position: relative;
    top: 35%;
    display: flex;
    justify-content: space-between;
}

div.card {
    top: 20%;
    padding: 0 15px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #fff;
}

div.img {
    text-align: center;
    color: rgb(37, 37, 228);
    margin-top: 15%;
}

div.title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    margin: 15px;
}

section#contact .getintouch {
    background-color: rgba(99, 99, 238, 0.5);
    padding-top: 10%;
    color: #fff;
}

div.getintouch div.container {
    display: flex;
    align-content: space-between;
}

.form-box {
    width: 50%;
    overflow: hidden;
    margin: 0 80px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

h1.bold {
    margin-top: 0;
}

.text {
    width: 50%;
    overflow: hidden;
    margin: 0 80px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    padding: 8px 0 0 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    padding: 0 10px;
}

.textbox textarea {
    border: none;
    outline: none;
    background: none;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid #fff;
    color: #000;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 30%;
}

ul.icons {
    margin: 0;
    padding: 0;
}

ul.icons li {
    display: inline;
    padding: 0 10px 0 10px;
}

ul.icons li a i {
    color: #fff;
}

/*Third section*/
.approach {
    background-image: url("mountains.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -50px;
    opacity: 0.9;
}

.approach .container {
    height: 600px;
}

.logo-nextboxx {
    position: relative;
    float: right;
    bottom: -30%;
}

.approach h2 {
    color : yellow;
}

.approach ul.list {
    color: white;
    list-style-type: circle;
    margin-top: -20px;
    padding-left: 20px;
}

.approach ul.list li p {
    margin: 0;
}
