body {
    font-family: Arial;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    margin: 50px 0;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    padding-top: 30px;
    margin-bottom: 30px;
}

header a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

/* First Section */
section#apropos .container .apropos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

section#apropos .apropos_text {
    text-align: center;
    margin: 0 20px;
    width: 50%;
}

section#apropos .container .image {
    color: #000;
    width: 50%;
}

section#apropos .container .image img{
    width: 100%;
}